{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Password-format-checker FLASK</h1>
  <h2>FLASK</h2>
  <form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    
    <input type="submit" value="Submit">
  </form>
  <a href="{{url_for('report.html')}}">report</a>
</div>
{% endblock %}
